<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3 class="form-tag">Edit listing</h3>

    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Current Image</label>
        <br />

        <img
          src="<%= originalImageUrl %>"
          alt="Current Image"
          class="mb-3"
          style="height: 200px"
        />

        <input type="file" name="listing[image]" class="form-control" />

        <div class="invalid-feedback">Please upload a valid image</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location</div>
      </div>

      <!-- Map Picker -->
      <div class="mb-3">
        <label class="form-label">Select Exact Location</label>

        <div
          id="pickMap"
          data-lat="<%= listing.geometry.coordinates[1] %>"
          data-lng="<%= listing.geometry.coordinates[0] %>"
          style="width: 100%; height: 400px; border-radius: 10px"
        ></div>

        <small class="text-muted">
          Change the location above and press <b>Tab</b> (or click outside the
          field). The map will move there. Then click on the exact location.
        </small>
      </div>

      <!-- Hidden Coordinates -->
      <input
        type="hidden"
        id="latitude"
        name="listing[latitude]"
        value="<%= listing.geometry.coordinates[1] %>"
      />

      <input
        type="hidden"
        id="longitude"
        name="listing[longitude]"
        value="<%= listing.geometry.coordinates[0] %>"
      />

      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>

<script src="/js/script.js"></script>
